
.login-wrapper {
  width: 380px;
  margin: 50px auto;
  background: #f3f3f3; 
  padding: 32px 28px;
  border-radius: 6px;
  font-family: Arial, sans-serif;
}


.tabs {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 28px;
}

.tab {
  flex: 1;
  padding: 10px 0;
  font-size: 15px;
  font-weight: bold;
  color: #000; 
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 4px 4px 0 0;
}

.tab.active {
  background: #000;   
  color: #fff;        
}


.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form label {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}

/* Input */
.form input {
  width: 100%;
  padding: 12px 14px;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  background: #fff;
  box-sizing: border-box;
}


.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* đẩy nội dung về bên trái */
  gap: 6px; /* khoảng cách nhỏ giữa checkbox và chữ */
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}




.login-btn {
  background: #000;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.login-btn:hover {
  opacity: 0.8;
}
